a {
    color: #1f1f1f;
    font-family: 'Roboto', sans-serif;
  }
a:hover {
    color: #5c5c5c;
  }


.link {
  padding-right: 10px;
}

.link:hover{
  color: #647935;
}

.ottilia {
  font-family: 'Spartan', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.home {
  font-family: 'Spartan', sans-serif;
  font-size: 25px;
  color: #F1C21B;
  text-decoration: none;
}

.home:hover {
  color: #c29c14;
}